# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# Turbo cache
.turbo/

# VSCode
.vscode/

# Env files
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log
.venv/
venv/
env/
*.egg-info/

# macOS
.DS_Store

# Logs
logs
*.log

# OS/system
Thumbs.db
ehthumbs.db
