# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
.ENV/

# Pipenv
Pipfile.lock

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Logs
*.log
logs/

# IDE/editor configs
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
